In [1]:
import pandas as pd

In [3]:
output9485 = pd.read_csv('/opt/ml/level1_semantictextsimilarity-nlp-14/SH/outputs/output_SH_230418_001_blending12_9485.csv')

In [4]:
output9485

                              id  target
0      boostcamp-sts-v1-test-000     3.0
1      boostcamp-sts-v1-test-001     4.0
2      boostcamp-sts-v1-test-002     1.8
3      boostcamp-sts-v1-test-003     0.2
4      boostcamp-sts-v1-test-004     3.3
...                          ...     ...
1095  boostcamp-sts-v1-test-1095     1.4
1096  boostcamp-sts-v1-test-1096     3.9
1097  boostcamp-sts-v1-test-1097     3.7
1098  boostcamp-sts-v1-test-1098     3.7
1099  boostcamp-sts-v1-test-1099     4.6

[1100 rows x 2 columns]

In [5]:
output9485.describe()

            target
count  1100.000000
mean      2.569727
std       1.305961
min      -0.000000
25%       1.500000
50%       2.600000
75%       3.700000
max       4.700000

In [6]:
output9476 = pd.read_csv("/opt/ml/level1_semantictextsimilarity-nlp-14/SH/outputs/output_SH_230418_001_blending12_9476.csv")

In [7]:
output9476

                              id  target
0      boostcamp-sts-v1-test-000     2.8
1      boostcamp-sts-v1-test-001     3.8
2      boostcamp-sts-v1-test-002     1.7
3      boostcamp-sts-v1-test-003     0.2
4      boostcamp-sts-v1-test-004     3.1
...                          ...     ...
1095  boostcamp-sts-v1-test-1095     1.3
1096  boostcamp-sts-v1-test-1096     3.7
1097  boostcamp-sts-v1-test-1097     3.4
1098  boostcamp-sts-v1-test-1098     3.4
1099  boostcamp-sts-v1-test-1099     4.3

[1100 rows x 2 columns]

In [8]:
output9476.describe()

            target
count  1100.000000
mean      2.406455
std       1.223089
min      -0.000000
25%       1.400000
50%       2.400000
75%       3.400000
max       4.400000

In [9]:
output9462 = pd.read_csv("/opt/ml/level1_semantictextsimilarity-nlp-14/SH/outputs/output_SH_230418_001_blending12_9462.csv")

In [12]:
output9462

                              id  target
0      boostcamp-sts-v1-test-000     2.9
1      boostcamp-sts-v1-test-001     3.8
2      boostcamp-sts-v1-test-002     1.7
3      boostcamp-sts-v1-test-003     0.1
4      boostcamp-sts-v1-test-004     3.2
...                          ...     ...
1095  boostcamp-sts-v1-test-1095     1.4
1096  boostcamp-sts-v1-test-1096     3.7
1097  boostcamp-sts-v1-test-1097     3.4
1098  boostcamp-sts-v1-test-1098     3.4
1099  boostcamp-sts-v1-test-1099     4.3

[1100 rows x 2 columns]

In [13]:
output9462.describe()

            target
count  1100.000000
mean      2.428727
std       1.217619
min       0.000000
25%       1.400000
50%       2.400000
75%       3.400000
max       4.400000